<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <add key="LogPath" value="D:\QQBot"/>

        <add key="MaiMaiDx.ResourcePath" value="/root/bot/resource/PluginResource/MaiMaiDx"/>
        <add key="MaiMaiDx.TempPath" value="/root/bot/temp/maimai"/>
        <add key="MaiMaiDx.WaveFilePath" value="/root/bot/resource/maifinale"/>

        <add key="Dirty.ResourcePath" value="/root/bot/resource/PluginResource/Dirty"/>

        <add key="Arcaea.ResourcePath" value="/root/bot/resource/PluginResource/Arcaea"/>
        <add key="Arcaea.TempPath" value="/root/bot/temp/arcaea"/>

        <add key="Help" value="/root/bot/resource/PluginResource/Help"/>

        <add key="PicDbPath" value="/root/bot/resource/pic/"/>
        <add key="PicDbPath_KanKan" value="/root/bot/resource/pic/看看"/>

        <add key="FFMPEG.Path" value="/usr/bin/ffmpeg"/>
    </appSettings>
</configuration>  